<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8" />
        <title>{% block title %}{{ SITENAME }}{%end%}</title>
        <!--[if IE]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.min.css">
        <script src="/static/js/bootstrap.min.js"></script>
    {% block headcontent %}
    {% end %}

</head>

<body id="index" class="{% block body_class %}{% end %}">
  <div class="container" role="main">
  <div class="row"><div class="col-md-12">
    <!-- TODO support flashed messages  as in Flask: get_flashed_messages() function -->
    {% for message in []  %}
      <div class="alert alert-warning" role="alert">
        {{ message }}
      </div>
    {% end %}
  </div></div>
  <div class="row"><div class="col-md-12">
    {% block content %}
    {% end %}

    {% block aftercontent %}
    {% end %}
  </div></div>
  </div>
</body>
</html>
